html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.section.mainpage {
  height: 100vh;
}

.section.hero {
  padding-top: 0px;
  padding-bottom: 0px;
  height: calc(100vh - 63px);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/cat.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/cat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightcyan;
}

@media screen and (min-width: 768px) {
  .section.hero {
    height: 50vh;
  }
}

@media screen and (min-width: 1200px) {
  .section.hero {
    height: calc(100vh - 63px);
  }
}

.section.gallery {
  padding-bottom: 60px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container.header .header-contact__list li:nth-child(1) {
  margin-bottom: 5px;
}

.container.header .header-contact__link {
  color: white;
}

.container.mainpage {
  text-align: center;
  padding-top: 30vh;
}

.container.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container.hero {
    width: 100%;
  }
}

.container.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 30px;
    padding-right: 70px;
  }
}

.page-header {
  width: 100%;
  background-color: teal;
}

.header-logo__link {
  display: block;
  width: 100px;
}

.hero-content__wrap {
  margin: 0 auto;
  color: white;
}

@media screen and (min-width: 768px) {
  .hero-content__wrap {
    width: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content__wrap {
    width: 750px;
  }
}

.hero-content__wrap .hero-content__title {
  font-size: 42px;
  text-transform: uppercase;
}

@media screen and (min-width: 414px) {
  .hero-content__wrap .hero-content__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content__wrap .hero-content__title {
    font-size: 60px;
  }
}

.hero-content__wrap .hero-content__text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (min-width: 414px) {
  .hero-content__wrap .hero-content__text {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero-content__wrap .hero-content__text {
    margin-bottom: 35px;
  }
}

.hero-content__wrap .open-modal-btn {
  padding: 15px 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  background-color: yellow;
  outline: none;
  cursor: pointer;
}

.hero-content__wrap .open-modal-btn:hover {
  background-color: tomato;
}

@media screen and (min-width: 414px) {
  .hero-content__wrap .open-modal-btn {
    padding: 20px 40px;
    font-size: 20px;
  }
}

/* About */
.about-content:nth-child(1) {
  margin-bottom: 20px;
}

.about-img__thumb:nth-child(1) {
  margin-bottom: 20px;
}

.gallery-list .gallery-item__thumb {
  margin-bottom: 15px;
}

.gallery-list .gallery-meta__title {
  margin-bottom: 7px;
}

@media screen and (max-width: 767px) {
  .gallery-list li:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery-list > li {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list > li:not(:nth-child(2n)) {
    margin-right: 20px;
  }
  .gallery-list > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .about-content__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-content__wrap .about-content {
    width: 50%;
  }
  .about-content__wrap .about-content:nth-child(1) {
    padding-right: 30px;
  }
  .about-content__wrap .about-content:nth-child(1) .content-title {
    color: red;
  }
  .about-content__wrap .about-content:nth-child(1) .content-text {
    color: red;
  }
  .gallery-list > li {
    width: 366px;
  }
  .gallery-list > li:not(:nth-child(3n)) {
    margin-right: 31px;
  }
  .gallery-list > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 31px;
  }
}

.page-footer {
  background-color: #313131;
}

.footer-column:not(:last-child) {
  margin-bottom: 40px;
}

.footer-logo__link {
  display: block;
  width: 180px;
}

.footer-contact__list li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact__list li:not(:last-child) span:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.footer-contact__list a {
  font-size: 22px;
  color: whitesmoke;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: black;
  color: grey;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.backdrop .modal {
  margin: 0 auto;
  max-width: 500px;
  height: 650px;
  background-color: white;
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: tomato;
  color: white;
}

.close-modal-btn:hover {
  background-color: teal;
}
