html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.section.hero {
  min-height: 100vh;
  background-image: url("../images/cat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightcyan;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: green;
}

.container.header .header-contact__list li:nth-child(1) {
  margin-bottom: 5px;
}

.container.header .header-contact__link {
  color: white;
}

.container.hero {
  padding-top: 20vh;
  text-align: center;
}

.page-header {
  width: 100%;
  background-color: red;
}

.header-logo__link {
  display: block;
  width: 100px;
}

/* Hero */
