.container {
	padding-left: 20px;
	padding-right: 20px;

	@media screen and (min-width: 480px) {
		margin: 0 auto;
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}
// Container Header
.container.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: green;

	& .header-contact__list li:nth-child(1) {
		margin-bottom: 5px;
	}

	& .header-contact__link {
		color: white;
	}
}
// Container Hero
.container.hero {
	width: 80%;
	text-align: center;
	
	@media screen and(min-width: 1200px) {
		width: 40%;
	}
}
// Container Footer
.container.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 70px;
	
	}
}
