// Footer Basic
.page-footer {
	background-color: rgb(49, 49, 49);
}
.footer-column:not(:last-child) {
	margin-bottom: 40px;
}
.footer-logo__link {
	display: block;
	width: 180px;
}
.footer-contact__list li:not(:last-child) {
	margin-bottom: 10px;
	& span:not(:last-child) {
		display: block;
		margin-bottom: 10px;
	}
}
.footer-contact__list a {
	font-size: 22px;
	color: whitesmoke;
}
.copyright {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: black;
	color: grey;
}



// /* Page Footer */
// .page-footer {
// 	background-color: black;
// 	padding-bottom: 20px;
// }
// .container.footer {
// 	padding: 40px 0 40px;
// }

// .footer-column {
// 	width: 300px;
// 	padding-left: 30px;

// 	&:nth-child(2) {
// 		padding-left: 50px;
// 	}
// }

// .footer-column ul .link {
// 	color: whitesmoke;
// }



// .footer-contact__list li {
// 	margin-bottom: 8px;
	
// 	& span {
// 		display: block;
// 		margin-bottom: 8px;
// 	}
// }

// .footer-contact__list.address li {
// 	&:first-child {
// 		margin-bottom: 30px;
// 	}
// }

// .copyright {
// 	color: rgba(255, 255, 255, 0.527);
// 	text-align: center;
// }