.page-header {
	width: 100%;
	background-color: red;
}

.header-logo__link {
	display: block;
	width: 100px;
}

// .header-logo__img {
// 	// width: 160px;
// }

// /* Header */
// .page-header {
// 	background-color: rgb(23, 3, 97);
// }

// .container.header {
// 	display: flex;
// 	justify-content: space-between;
// 	padding-top: 20px;
// 	padding-bottom: 20px;
// }

// .header-contact__link {
// 	display: block;
// 	text-decoration: none;
// 	color: whitesmoke;
// }

// .header-contact__list li:nth-child(1) {
// 	margin-bottom: 7px;
// }

