/* About */
.about-content:nth-child(1) {
	margin-bottom: 20px;
}
.about-img__thumb:nth-child(1) {
	margin-bottom: 20px;
}

// Gallery
.gallery-list {
	.gallery-item__thumb {
		margin-bottom: 15px;
	}
	
	.gallery-meta__title {
		margin-bottom: 7px;
	}

	@media screen and (max-width: 767px) {
		& li:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

@media screen and (min-width: 768px) {

	// Gallery 768
	.gallery-list {
		display: flex;
		flex-wrap: wrap;

		& > li {
			width: 354px;

			@media screen and (max-width: 1199px) {
				&:not(:nth-child(2n)) {
					margin-right: 20px;
				}
	
				&:not(:nth-last-child(-n + 2)) {
					margin-bottom: 20px;
				}
			}
		}
	}	
}


@media screen and (min-width: 1200px) {

	// About 1200
	.about-content__wrap {
		display: flex;
		.about-content {
			width: 50%;

			&:nth-child(1) {
				padding-right: 30px;

				.content-title {
					color: red;
				}
				.content-text {
					color: red;
				}
			}
		}
	}

	// Gallery 1200
	.gallery-list {

		& > li {
			width: 366px;

			&:not(:nth-child(3n)) {
				margin-right: 31px;
			}

			&:not(:nth-last-child(-n + 3)) {
				margin-bottom: 31px;
			}
		}
	}			
}



