.section {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.section.hero {
	min-height: 100vh;
	background-image: url("../images/cat.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: lightcyan;
}