.section {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}
.section.mainpage {
	height: 100vh;
}
.section.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0px;
	padding-bottom: 0px;
	height: calc(100vh - 63px);
	background-image: url("../images/cat.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: lightcyan;

	@media screen and (min-width: 768px) {
		height: 50vh;
	}

	@media screen and (min-width: 1200px) {
		height: calc(100vh - 63px);
	}
}
.section.gallery {
	padding-bottom: 60px;
}