.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);

	&.is-hidden {
		opacity: 0;
		pointer-events: none;

		& .modal {
			transform: scale(1.1);
		}
	}
	.modal {
		margin: 0 auto;
		padding: 50px;
		max-width: 500px;
		// height: 650px;

		background-color: white;

		@media screen and (min-width: 1200px) {
			position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		transform: translate(-50%, -50%);
		
		}
		
	}
}
.close-modal-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	font-size: 20px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-color: tomato;
	color: white;

	&:hover {
		background-color: teal;
	}
}